<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>방명록</title>
     <!-- axios CDN -->
     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
     <script defer src="/static/visitor.js"></script>
    <style>
      form {
        width: 500px;
        padding-bottom: 15px;
      }
    </style>
  </head>
  <body>
    <h1>방명록 페이지</h1>
    <form name="visitor-form">
      <fieldset>
        <legend>방명록 등록</legend>
        <input type="text" name="name" placeholder="사용자 이름" /><br />
        <input
          type="text"
          name="comment"
          placeholder="간단 방명록 작성"
        /><br />
        <div id="btn-group">
          <button type="button" onclick="createVisitor()">방명록 등록</button>
        </div>
      </fieldset>
    </form>
    <table border="1" cellspacing="0">
      <thead>
        <tr>
          <th>ID</th>
          <th>작성자</th>
          <th>방명록</th>
          <th>수정</th>
          <th>삭제</th>
        </tr>
      </thead>
      <!--
      data: [
        { id: 1, name: '홍길동', comment: '내가 왔다.' },
        { id: 2, name:'이찬혁', comment: '으라차차' }
      ]
      -->
      <tbody>
        <!-- <tr>
          <td>1</td>
          <td>홍길동</td>
          <td>내가왔다</td>
          <td><button>수정</button></td>
          <td><button>삭제</button></td>
        </tr> -->
        <% for(let i=0; i<data.length;i++){%>
        <tr id="tr_<%=data[i].id%>">
          <td><%=data[i].id%></td>
          <td><%=data[i].name%></td>
          <td><%=data[i].comment%></td>
          <td><button onclick="editVisitor(`<%=data[i].id%>`)">수정</button></td>
          <td><button onclick="deleteVisitor(this,`<%=data[i].id%>`)">삭제</button></td>
        </tr>
        <%}%>
      </tbody>
    </table>
  </body>
</html>
